.container {
	dispaly: flex;
	display: flex;
    flex-direction: column;
    margin: 20px;
    border: 1px solid #666;
    padding: 12px 34px;
    border-radius: 10px;
    background: #eee;
}

.name {
	font-weight: bold;
}